Repository Yuma-Tsukakoshi/tech-app, pull requests merged in 2023-03, with the labels that each got.

#11 Feature/4
  src/resources/views/main.blade.php
  src/resources/views/question.blade.php
  src/routes/web.php
Labels: question, M, フロント, バック

#12 Feature/6
  src/public/js/accordion.js
  src/resources/views/answer.blade.php
Labels: フロント, バック, answer

#14 質問投稿フォーム
  src/resources/views/question.blade.php
Labels: question, M, バック

#18 Feature/17
  src/resources/views/question.blade.php
Labels: M, フロント

#20 add:メインページ tailwind
  src/resources/views/components/header.blade.php
  src/resources/views/layouts/each_ph_answer.blade.php
  src/resources/views/main.blade.php
Labels: M, フロント, main

#21 add:week絞り込みページ tailwind css
  src/resources/views/answerPh1.blade.php
  src/resources/views/answerPh2.blade.php
  src/resources/views/layouts/each_ph_answer.blade.php
Labels: question, L, main

#24 Feature/7
  src/public/img/yuma.jpg
  src/public/js/page_transition.js
  src/resources/views/answerPh1.blade.php
  src/resources/views/answerPh2.blade.php
  src/resources/views/components/profile.blade.php
  src/resources/views/hint.blade.php
  src/resources/views/layouts/each_ph_answer.blade.php
  src/routes/web.php
Labels: S, フロント, main

#26 Feature/7
  src/public/js/accordion.js
  src/public/js/page_transition.js
  src/resources/views/layouts/each_ph_answer.blade.php
  src/resources/views/ph/answerPh1.blade.php
  src/resources/views/ph/answerPh2.blade.php
  src/routes/web.php
Labels: M, フロント, 絞り込み
